@media screen and (max-width:362px){
  .sociallinks{
    width:40%;
  }
  .socialicon{
    width:0%;
  }
  .facebook{
    display: none;
  }
  .twitter{
    display: none;  
  }
  .atitle{
    font-size: 18px;
  }
}
@media screen and (min-width: 539px) and (max-width: 767px){
  .stitle{
    font-size: 25px;
  }
  .sub{
    font-size: 20px;
  }
  .sub1>li{
    font-size:18px;
  }
  .facebook{
    height:75px;
  }
  .twitter{
    height: 75px;
  }
}
@media screen and (min-width: 535px) and (max-width:636px){
   .rslides{
    width:80%;
    margin-right: auto;
    margin-left:auto;
    margin-top: 80px; 
  }
  /*For Emergency UnComment
  .rslides{
	margin-top:0;
  }*/
 }
 @media screen and (min-width:637px) and (max-width:767px){
    .rslides{
    margin-top: 90px;
  }
    /*For Emergency UnComment
  .rslides{
	margin-top:0;
  }
  .emergency{
  	margin-top:90px;
  	}*/
}
@media screen and (min-width: 768px){
  .rslides{
    width:55%;
    height:300px;
    margin-right: 5px;
    margin-left:auto;
    margin-top:200px; 
  }
    /*For Emergency UnComment
  .rslides{
	margin-top:0;
  }
  .emergency{
  	margin-top:190px;
  	}*/
  .announcements{
  	width:40%;
  	margin-top:200px;
  	margin-left: 5px;
  	margin-right: auto;
  	height: 292px;
  }
  .abody{
    height: 215px;
  }
  .atitle{
    height: 70px;
  }
  .responsive-iframe-container {
   display:none;
  } 
  .table1{
  	display:block;
  	height:400px;
  }
   .cal{
    padding-bottom:0px;
  }
  .social{
  width:46%;
  margin-right: 5px;
  height:200px;
  }
  .stitle{
    font-size: 30px;
  }
  .sub1{
      font-size: 25px;
  }
  .sub1>li{
      font-size: 20px;
  }
  .facebook{
     height:80px;
  }
  .twitter{
    height:80px;
  }
  .maps{
    width:47%;
    margin-left: 5px;
  } 
}
@media screen and (min-width: 768px) and (max-width: 867px){
  .sub1{
    font-size: 20px;
   }
  .sub1>li{
	font-size: 17px;
   }
}

